<h2 mat-dialog-title>{{title}}</h2>
<hr>

<form [formGroup]="departmentFile" (submit) ="onSubmit()">
    <div class="example-container">
        <mat-form-field>
            <input readonly=true formControlName="id" matInput placeholder="Id">
        </mat-form-field>

        <mat-form-field  autocomplete="off">
            <input  formControlName="description" matInput placeholder="Description">
        </mat-form-field>


        <mat-form-field>
          <input readonly=true formControlName="createdBy" matInput placeholder="Created By">
        </mat-form-field>

        <mat-form-field>
                <input readonly=true formControlName="updatedBy" matInput placeholder="Updated By">
        </mat-form-field>
      </div>

      <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close class="dialog-button">Cancel</button>
            <button type="submit" mat-button cdkFocusInitial class="dialog-button" [disabled]="!departmentFile.valid">Submit</button>
    </mat-dialog-actions>
</form>
