.mat-tab-group {
    margin-bottom: 48px;
  }
  .example-form {
    min-width: 150px;
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  .half-width {
    width: 48%;
    padding:1px;
  }
  
  .three-width {
    width: 33%;
    padding:1px;
  }
  .checkbox-width {
    width: 33%;
   padding-right: 100px;
   padding-left: 10px;
  }
  .checkbox-width-hdmf {
    width: 32%;
   padding-right: 85px;
   padding-left: 10px;
  }
 .mat-dialog-title {
   padding: 15px 18px;
   text-align: center;
    background-color: #13316d;
      color:white;
  }

  .dialog-button {
    background-color: #13316d;
    color:white;
  }